name: Nix Lint

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  nix-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix flake check
