name: Pre-commit + Typing lints

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    outputs:
      lint-success: ${{ steps.build-result.outputs.success }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Cache Nix
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Run pre-commit lints
        run: nix develop --extra-experimental-features 'nix-command flakes' -c pre-commit run -a;

      - name: Run typing checks
        run: nix develop --extra-experimental-features 'nix-command flakes' -c ty check;
